.color-main {
  color: #409EFF;
}

.color-success {
  color: #67C23A;
}

.color-warning {
  color: #E6A23C;
}

.color-danger {
  color: #F56C6C;
}

.color-info {
  color: #909399;
}

.boxdraw {
    background: rgba(56,135,190,0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.kanban.todo .board-column-header{
    background: #4A9FF9 !important;
}
.kanban.working .board-column-header {
    background: #f9944a !important;
}

.kanban.done .board-column-header {
    background: #2ac06d !important;
}
